StankoServiceApp/StankoServiceApp/Connected Services/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GenericRepositoryLibrary.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Authorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="IService_Authorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewProject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProject" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditProject_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProject" />
  </wsdl:message>
  <wsdl:message name="IService_EditProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewWorker" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:EditWorker" />
  </wsdl:message>
  <wsdl:message name="IService_EditWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorker" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewTask" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditTask_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTask" />
  </wsdl:message>
  <wsdl:message name="IService_EditTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiles" />
  </wsdl:message>
  <wsdl:message name="IService_GetFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetHistoryProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryProjects" />
  </wsdl:message>
  <wsdl:message name="IService_GetHistoryProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetHistoryTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryTasks" />
  </wsdl:message>
  <wsdl:message name="IService_GetHistoryTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPositions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositions" />
  </wsdl:message>
  <wsdl:message name="IService_GetPositions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjects" />
  </wsdl:message>
  <wsdl:message name="IService_GetProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTasks" />
  </wsdl:message>
  <wsdl:message name="IService_GetTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetWorkers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkers" />
  </wsdl:message>
  <wsdl:message name="IService_GetWorkers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTaskFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskFiles" />
  </wsdl:message>
  <wsdl:message name="IService_GetTaskFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Authorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Authorization" message="tns:IService_Authorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AuthorizationResponse" message="tns:IService_Authorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNewProject" message="tns:IService_AddNewProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNewProjectResponse" message="tns:IService_AddNewProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditProject" message="tns:IService_EditProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditProjectResponse" message="tns:IService_EditProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteProject" message="tns:IService_DeleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteProjectResponse" message="tns:IService_DeleteProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNewWorker" message="tns:IService_AddNewWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNewWorkerResponse" message="tns:IService_AddNewWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditWorker" message="tns:IService_EditWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditWorkerResponse" message="tns:IService_EditWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteWorker" message="tns:IService_DeleteWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteWorkerResponse" message="tns:IService_DeleteWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNewTask" message="tns:IService_AddNewTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNewTaskResponse" message="tns:IService_AddNewTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditTask" message="tns:IService_EditTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditTaskResponse" message="tns:IService_EditTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteTask" message="tns:IService_DeleteTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteTaskResponse" message="tns:IService_DeleteTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCustomers" message="tns:IService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCustomersResponse" message="tns:IService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetFiles" message="tns:IService_GetFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetFilesResponse" message="tns:IService_GetFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetHistoryProjects" message="tns:IService_GetHistoryProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetHistoryProjectsResponse" message="tns:IService_GetHistoryProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetHistoryTasks" message="tns:IService_GetHistoryTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetHistoryTasksResponse" message="tns:IService_GetHistoryTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPositions" message="tns:IService_GetPositions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPositionsResponse" message="tns:IService_GetPositions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProjects" message="tns:IService_GetProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProjectsResponse" message="tns:IService_GetProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTasks" message="tns:IService_GetTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTasksResponse" message="tns:IService_GetTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUsers" message="tns:IService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUsersResponse" message="tns:IService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetWorkers" message="tns:IService_GetWorkers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetWorkersResponse" message="tns:IService_GetWorkers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTaskFiles" message="tns:IService_GetTaskFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTaskFilesResponse" message="tns:IService_GetTaskFiles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authorization">
      <soap:operation soapAction="http://tempuri.org/IService/Authorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewProject">
      <soap:operation soapAction="http://tempuri.org/IService/AddNewProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProject">
      <soap:operation soapAction="http://tempuri.org/IService/EditProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewWorker">
      <soap:operation soapAction="http://tempuri.org/IService/AddNewWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditWorker">
      <soap:operation soapAction="http://tempuri.org/IService/EditWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorker">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewTask">
      <soap:operation soapAction="http://tempuri.org/IService/AddNewTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTask">
      <soap:operation soapAction="http://tempuri.org/IService/EditTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <soap:operation soapAction="http://tempuri.org/IService/GetFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryProjects">
      <soap:operation soapAction="http://tempuri.org/IService/GetHistoryProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryTasks">
      <soap:operation soapAction="http://tempuri.org/IService/GetHistoryTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <soap:operation soapAction="http://tempuri.org/IService/GetPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <soap:operation soapAction="http://tempuri.org/IService/GetProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <soap:operation soapAction="http://tempuri.org/IService/GetTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkers">
      <soap:operation soapAction="http://tempuri.org/IService/GetWorkers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskFiles">
      <soap:operation soapAction="http://tempuri.org/IService/GetTaskFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8080/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>